@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&family=Warnes&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Ubuntu, sans-serif;
    font-weight: 400;
    color: #000;
    background-color: #F1F1F1;
}

header {
    width: 100%;
    height: 75px;
    background-color: #2B2B2B;
}

.wrapper-header {
    width: 1000px;
    margin: 0 auto;
}

/* logo */
#logo {
    font-family: Warnes, sans-serif;
    text-transform: uppercase;
    color: #ED2222;
    float: left;
    font-size: 280%;
}

/* navigation links */

#menu {
    font-size: 110%;
    letter-spacing: 2px;
    float: right;
}

#menu,
#logo {
    line-height: 75px;
}

#menu li {
    float: left;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: #FFF;
}

#menu a:hover {
    border-bottom: 1px solid #FFF;
}

.active {
    border-bottom: 1px solid #FFF;
}

nav>ul:last-child {
    margin-left: 30px;
}

/* CAT section */
#cat-background {
    width: 100%;
    height: 750px;
    background: url(../img/background.png) center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: inset 0 5px 5px #212121, 0 -1px 20px #4d4d4d;
}

#cat-background div {
    color: white;
    text-transform: uppercase;
    text-align: center;
}

.cat {
    width: 1000px;
    margin: 0 auto;
}

.cat img {
    margin-top: 30px;
    width: 350px;
}

.cat h2 {
    font-size: 250%;
    padding-top: 90px;
    letter-spacing: 2px;
}

.rent,
.leasing {
    margin-top: 95px;
    background-color: rgb(0, 0, 0, .5);
    width: 400px;
    height: 400px;
    border-radius: 10px;
    float: left;
    margin-right: 200px;
}

.leasing {
    margin-right: 0;
}

.rent img {
    padding-top: 55px;
}

.leasing img {
    padding-top: 55px;
}

.rent h3 {
    padding: 35px;
    font-size: 220%;
    letter-spacing: 2px;
}

.leasing h3 {
    padding: 35px;
    font-size: 200%;
    letter-spacing: 2px;
}

/* Main image section */
.right-wrapper {
    width: 1000px;
    margin: 0 auto;
}

#ethos-background {
    background-image: url(../img/firm_ethos.png);
    background-position: right 125px;
    background-repeat: no-repeat;
    height: 600px;
    position: relative;
}

.text-button {
    position: absolute;
    top: 250px;
    margin: 0 auto;
}

#ethos-background h3 {
    font-size: 250%;
    line-height: 50px;
}

/* button */
#ethos-background a {
    display: block;
    width: 242px;
    height: 56px;
    font-size: 18px;
    font-weight: 600;
    border: 2px solid #8B7F80;
    border-radius: 4px;
    margin: 25px auto;
    text-decoration: none;
    text-align: center;
    color: #000;
    background-color: #F1F1F199;
    line-height: 56px;
}

/* availability */
.location {
    height: 500px;
    width: 100%;
    margin: 0 auto;

}

.center-wrapper {
    margin: 0 auto;
    width: 1000px;
    height: 300px;
    text-align-last: left;
}

.location h2 {
    text-transform: uppercase;
    margin-bottom: 50px;
}

.city img {
    display: block;
    width: 242.5px;
    border-radius: 4px;
    margin-right: 10px;
    margin-bottom: 15px;
}

.center-wrapper .city:last-child img,
.action:last-child {
    margin-right: 0px;
}

.city {
    float: left;
}

/* How it works section */
#how_to {
    height: 300px;
    width: 100%;
    margin: 0 auto;
}

.action {
    float: left;
}

.action img {
    display: block;
    width: 242.5px;
    margin-right: 10px;
}

.center-wrapper .action:last-child img {
    margin-right: 0px;
}

.how_to h2,
h3 {
    text-transform: uppercase;
    margin-bottom: 50px;
}

.text-block {
    display: inline-block;
    width: 242.5px;
}

/* Why Carrent */
#why-carrent {
    width: 100%;
    height: 650px;
}

#why-carrent h2 {
    margin: 50px 0;
    padding-top: 150px;
}

.review img {
    float: left;
    margin-right: 10px;
    width: 326.6px;
}

.center-wrapper .review:last-child img {
    margin-right: 0px;
}

/* footer */
footer {
    width: 100%;
    height: 400px;
    background: url(../img/background.png) center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0 -1px 20px #4d4d4d;
}

.wrapper {
    margin: 0 auto;
    width: 1000px;
    height: 300px;
}

.openning-hours {
    color: white;
    float: left;
    margin-top: 50px;
}

.openning-hours h2 {
    margin-bottom: 10px;
}

.openning-hours>p {
    font-size: 14px;
    margin-bottom: 45px;
}

.hours p {
    text-decoration: underline;
    margin-bottom: 10px;
}

.openning-hours table tr:first-child td {
    width: 150px;
}

.openning-hours td {
    height: 22px;
}

.social-networks {
    width: 50%;
    float: right;
}

.social-networks>li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    padding: 45% 5% 0 8%;
    color: white;
    font-size: 300%;
}

/* Rent page */
#service {
    width: 100%;
    height: 760px;
    background: url(../img/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: inset 0 5px 5px #212121, 0 -1px 20px #4d4d4d;


}

.service-wrapper {
    margin: 0 auto;
    width: 1000px;
    color: #FFFFFF;
}

.service-wrapper h2 {
    text-transform: uppercase;
    text-align: center;
    font-size: 250%;
    padding-top: 50px;
    letter-spacing: 5px;
}

.service-form {
    margin: 0 auto;
    margin-top: 50px;
    background-color: rgb(0, 0, 0, .5);
    max-width: 1100px;
    height: 360px;
    border-radius: 10px;
    padding: 40px 40px 50px 70px;
    position: relative;
}

.service-form .rent-a-car {
    width: 50%;
    position: absolute;
    top: 70px;
    left: 420px;
}

.service-form .lease-a-car {
    width: 33%;
    position: absolute;
    top: 50px;
    left: 500px;
}

.service-form label {
    display: block;
    font-size: 20px;
}

.text-input {
    font-family: Ubuntu, sans-serif;
    background: transparent;
    width: 30%;
    height: 25px;
    margin: 5px 0 20px;
    border: 1px solid #fafafa;
    border-radius: 4px;
    color: rgba(255, 255, 255, 1);
    display: block;
    margin-top: 10px;
    padding-left: 10px;
}

::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

.text-input option {
    color: #000;
}

.text-input:hover {
    border-color: #0DA936;
}

.book-button {
    text-transform: uppercase;
    margin: 90px auto 0;
    padding: 15px 62px;
    text-align: center;
    font-size: 100%;
    background-color: rgba(255, 0, 0, 0.8);
    color: rgba(255, 255, 255, 1);
    display: block;
    border-radius: 5px;
}

.book-button:hover {
    background-color: rgba(255, 0, 0, 1);
}

#service table {
    padding-top: 20px;
    width: 100%;
}

#service table .text-input {
    width: 80%;
}

#service table .width-adjustment {
    width: 93.5%;
}

#service table tr {
    width: 25%;
    height: 50px;
}

#service table tr:last-child td {
    padding-top: 20px;
}

/* Gellery section */
.gallery-container {

    height: 1300px;
    background: url(../img/background.png) center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: inset 0 5px 5px #212121, 0 -1px 20px #4d4d4d;
}

.gallery-container h2{
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 250%;
    text-align: center;
    padding-top: 50px;
    letter-spacing: 5px;
    
}

#photos {
    margin: 0 auto;
    width: 1100px;
    clear: both;
    line-height: 0;
    column-count: 4;
    column-gap: 0;
    padding: 50px 0;
}

#photos>img {
    width: 100%;
}

/* Embedded map  */
iframe {
    width: 100%;
    height: 300px;
}

/* Signup form */
.signup-form {
    margin: 0 auto;
    margin-top: 50px;
    background-color: rgb(0, 0, 0, .5);
    max-width: 1100px;
    height: 360px;
    border-radius: 10px;
    padding: 40px 40px 50px 70px;
    position: relative;
}

.service-form .signup-car {
    width: 100%;
}

.signup-car {
    width: 50%;
    position: absolute;
    top: 70px;
    left: 440px;
}

.signup-input {
    font-family: Ubuntu, sans-serif;
    background: transparent;
    width: 30%;
    height: 25px;
    margin: 5px 0 20px;
    border: 1px solid #fafafa;
    border-radius: 4px;
    color: rgba(255, 255, 255, 1);
    display: block;
    margin-top: 10px;
    padding-left: 10px;
}

.signup-input:hover {
    border-color: #0DA936;
}

.signup-button {
    text-transform: uppercase;
    margin-top: 25px;
    padding: 15px 62px;
    text-align: center;
    font-size: 100%;
    background-color: rgba(255, 0, 0, 0.8);
    color: rgba(255, 255, 255, 1);
    display: block;
    border-radius: 5px;
}

.signup-button:hover {
    background-color: rgba(255, 0, 0, 1);
}