@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&family=Warnes&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Ubuntu, sans-serif;
    font-weight: 400;
    color: #000;

}

/* Background + Center wrapper 1000px */
.cat-footer-background {
    width: 100%;
    background: url(../img/background.png) center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: inset 0 5px 5px #212121, 0 -1px 20px #4d4d4d;
    overflow: hidden;
}

.internal-background {
    width: 100%;
    overflow: hidden;
    background-color: #F1F1F1;
}

.center-wrapper {
    margin: 0 auto;
    width: 1000px;
}

.center-wrapper h2 {
    margin-bottom: 30px;
    text-transform: uppercase;
}

header {
    width: 100%;
    height: 75px;
    background-color: #2B2B2B;
    overflow: hidden;
}

/* Logo */
#logo {
    font-family: Warnes, sans-serif;
    text-transform: uppercase;
    color: #ED2222;
    float: left;
    font-size: 280%;
}

/* Navigation links */
#menu {
    font-size: 110%;
    letter-spacing: 2px;
    float: right;
}

#menu,
#logo {
    line-height: 75px;
}

#menu li {
    float: left;
    list-style-type: none;
    margin-right: 30px;
}

#menu li:last-child {
    margin-right: 0;
}


#menu a {
    text-decoration: none;
    color: #FFF;
}

#menu a:hover {
    border-bottom: 1px solid #FFF;
}

.active {
    border-bottom: 1px solid #FFF;
}

nav>ul:last-child {
    margin-left: 30px;
}

/* Call To Action (cat) section */
.cat {
    color: white;
    text-transform: uppercase;
    text-align: center;
    height: 850px;
}

.cat img {
    margin-top: 30px;
    width: 350px;
}

.cat h2 {
    font-size: 250%;
    padding-top: 70px;
    letter-spacing: 2px;
}

.rent,
.leasing {
    color: white;
    margin-top: 60px;
    background-color: rgb(0, 0, 0, .5);
    width: 450px;
    height: 450px;
    border-radius: 10px;
    float: left;
    margin-right: 100px;
}

.leasing {
    margin-right: 0;
}

.rent img {
    padding-top: 55px;
}

.leasing img {
    padding-top: 55px;
}

.rent h3 {
    padding: 35px;
    font-size: 220%;
    letter-spacing: 2px;
}

.leasing h3 {
    padding: 35px;
    font-size: 200%;
    letter-spacing: 2px;
}

/* Main image section */
.main-image {
    height: 620px;
    position: relative;
}

.main-image img {
    margin-top: 100px;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-radius: 0 92px 30px 0;
}

.main-image h3 {
    font-size: 250%;
    line-height: 50px;
    position: absolute;
    top: 250px;
}

/* Main button */
.main-button {
    width: 242px;
    font-size: 18px;
    font-weight: 600;
    border: 2px solid #8B7F80;
    border-radius: 4px;
    text-decoration: none;
    text-align: center;
    color: #000;
    background-color: rgba(241, 241, 241, 0.7);
    line-height: 56px;
    position: absolute;
    top: 370px;
    left: 100px;
}

/* Location */
.location {
    height: 520px;
}

.city img {
    display: block;
    width: 242.5px;
    border-radius: 10px;
    margin-right: 10px;
    margin-bottom: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}

.city:last-child img {
    margin-right: 0px;
}

.city {
    float: left;
}

/* How it works section */
#how-to {
    height: 450px;
}

#how-to h2 {
    margin-bottom: 20px;
}

#how-to h3 {
    margin-bottom: 30px;
}

.action img {
    display: block;
    width: 242.5px;
    margin-right: 10px;
    margin-bottom: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
}

.action:last-child img {
    margin-right: 0px;
}

.action {
    float: left;
}

.text-block {
    display: inline-block;
    width: 242.5px;
}

/* Why Carrent */
.why-carrent {
    height: 450px;
}

.review img {
    float: left;
    margin-right: 10px;
    width: 326.6px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 15px;
}

.review:last-child img {
    margin-right: 0px;
}

/* Footer */

footer {
    height: 300px;
}

.openning-hours {
    color: white;
    float: left;
    margin-top: 50px;
}

.openning-hours h2 {
    margin-bottom: 10px;
}

.openning-hours>p {
    font-size: 14px;
    margin-bottom: 45px;
}

.hours p {
    text-decoration: underline;
    margin-bottom: 10px;
}

.openning-hours table tr:first-child td {
    width: 150px;
}

.openning-hours td {
    height: 22px;
}

.social-networks>li {
    float: left;
    display: block;
    margin: 200px 30px;
}

.social-networks i {
    color: white;
    font-size: 300%;
}

/* Rent page */
#service {
    width: 100%;
    height: 760px;
    background: url(../img/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: inset 0 5px 5px #212121, 0 -1px 20px #4d4d4d;
    overflow: hidden;
}

.service-wrapper {
    margin: 0 auto;
    width: 1000px;
    color: #FFFFFF;
}

.service-wrapper h2 {
    text-transform: uppercase;
    text-align: center;
    font-size: 250%;
    padding-top: 50px;
    letter-spacing: 5px;
}

.service-form {
    margin: 0 auto;
    margin-top: 50px;
    background-color: rgb(0, 0, 0, .5);
    max-width: 1100px;
    height: 360px;
    border-radius: 10px;
    padding: 40px 40px 50px 70px;
    position: relative;
}

.service-form .rent-a-car {
    width: 50%;
    position: absolute;
    top: 70px;
    left: 420px;
}

.service-form .lease-a-car {
    width: 33%;
    position: absolute;
    top: 50px;
    left: 500px;
}

/* ------------------------------------- */
#make,
#type,
#pickup,
#return,
#start-date,
#start-time,
#end-date,
#end-time,
#period,
#contract {
    display: block;
    width: 250px;
}

.two-columns {
    display: inline-block;
    width: 290px;
    height: 30px;
    margin-top: 30px;
}

.service-form label {
    font-size: 20px;
}

.text-input {
    box-sizing: border-box;
    font-family: Ubuntu, sans-serif;
    background: transparent;
    height: 25px;
    margin: 10px 0 20px;
    border: 1px solid #fafafa;
    border-radius: 4px;
    color: rgba(255, 255, 255, 1);
    padding-left: 10px;
}

::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

.text-input option {
    color: #000;
}

.text-input:hover {
    border-color: #0DA936;
}

.book-button {
    text-transform: uppercase;
    margin: 120px auto 0;
    padding: 15px 62px;
    text-align: center;
    font-size: 100%;
    background-color: rgba(255, 0, 0, 0.8);
    color: rgba(255, 255, 255, 1);
    display: block;
    border-radius: 5px;
}

.book-button:hover {
    background-color: rgba(255, 0, 0, 1);
}

/* Gellery section */
.gallery-container {
    height: 1300px;
    background: url(../img/background.png) center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: inset 0 5px 5px #212121, 0 -1px 20px #4d4d4d;
    overflow: hidden;
}

.gallery-container h2 {
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 250%;
    text-align: center;
    padding-top: 50px;
    letter-spacing: 5px;
}

#photos {
    width: 1100px;
    clear: both;
    line-height: 0;
    column-count: 4;
    column-gap: 0;
    padding: 50px 0;
    margin: 0 auto;
}

#photos>img {
    width: 100%;
}

/* Embedded map  */
.find-us {
    width: auto;
    height: 400px;
    margin: 0 auto 30px;
}

iframe {
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* Signup form */
.signup-form {
    margin: 0 auto;
    margin-top: 50px;
    background-color: rgb(0, 0, 0, .5);
    max-width: 1100px;
    height: 360px;
    border-radius: 10px;
    padding: 40px 40px 50px 70px;
    position: relative;
}

.service-form .signup-car {
    width: 100%;
}

.signup-car {
    width: 50%;
    position: absolute;
    top: 70px;
    left: 440px;
}

.signup-input {
    font-family: Ubuntu, sans-serif;
    background: transparent;
    width: 30%;
    height: 25px;
    margin: 5px 0 20px;
    border: 1px solid #fafafa;
    border-radius: 4px;
    color: rgba(255, 255, 255, 1);
    display: block;
    margin-top: 10px;
    padding-left: 10px;
}

.signup-input:hover {
    border-color: #0DA936;
}

.signup-button {
    text-transform: uppercase;
    margin-top: 25px;
    padding: 15px 62px;
    text-align: center;
    font-size: 100%;
    background-color: rgba(255, 0, 0, 0.8);
    color: rgba(255, 255, 255, 1);
    display: block;
    border-radius: 5px;
}

.signup-button:hover {
    background-color: rgba(255, 0, 0, 1);
}



/* Media queries */
@media screen and (max-width: 1200px) {
    .center-wrapper {
        margin: 0 auto;
        width: 900px;
    }

.rent, .leasing {
    width: 400px;
    height: 400px;
}

    .rent {
        margin-right: 100px;
    }

    .city img {
        width: 217.5px;
    }

    .action img {
        width: 217.5px;
    }

    .text-block {
        width: 217.5px;
    }

    .text-block h4,
    p {
        font-size: 90%;
    }

    .review img {
        width: 293.33px;
    }

    .service-wrapper {
        margin: 0 auto;
        width: 900px;
    }

    .social-networks>li {

        margin: 200px 20px;
    }

    /* Rent page */
    .service-form {
        padding-left: 50px;
    }

    #make,
    #type,
    #pickup,
    #return,
    #start-date,
    #start-time,
    #end-date,
    #end-time,
    #period,
    #contract {
        width: 250px;
    }

    .two-columns {
        width: 265px;
    }

    .text-input {
        height: 27px;
    }

    .service-form .rent-a-car {
        left: 380px;
    }

    .service-form .lease-a-car {
        left: 450px;
    }

    #photos {
        width: 900px;
    }
}

@media screen and (max-width: 992px) {
    .center-wrapper {
        margin: 0 auto;
        width: 700px;
    }

    /* Logo */
    #logo {
        font-size: 250%;
    }

    /* Navigation links */
    #menu {
        font-size: 90%;
    }

    /* Call To Action (cat) section */
    .cat {
        height: 580px;
    }

    .cat h2 {
        font-size: 220%;
    }

    .cat img {
        margin-top: 25px;
        width: 250px;
    }

    .rent,
    .leasing {

        margin-top: 40px;
        width: 320px;
        height: 320px;

    }

    .rent {
        margin-right: 60px;
    }

    /* Main image section */
    .main-image {
        height: 500px;
        position: relative;
    }

    .main-image img {
        margin-top: 70px;
    }

    .main-image h3 {
        font-size: 220%;
        line-height: 40px;
        top: 200px;
    }

    /* Main button */
    .main-button {
        width: 200px;
        font-size: 18px;
        line-height: 36px;
        top: 300px;
        left: 90px;
    }

    /* Location */
    .location {
        height: 450px;
    }

    .city img {
        width: 167.5px;
    }

    /* How it works section */
    #how-to {
        height: 400px;
    }

    .action img {
        width: 167.5px;
    }

    .text-block {
        width: 167.5px;
    }

    .text-block h4,
    p {
        font-size: 80%;
    }

    /* Why Carrent */
    .review img {
        width: 226.67px;
    }

    .why-carrent {
        height: 400px;
    }

    /* Footer */
    .openning-hours h2 {
        font-size: 110%;
    }

    .openning-hours>p {
        font-size: 13px;
    }

    .service-wrapper {
        margin: 0 auto;
        width: 700px;
    }

    .social-networks>li {
        margin: 200px 20px;
    }

    /* Rent Page, Leasing Page, SignUp page */

    .service-wrapper h2 {
        font-size: 200%;
    }

    .service-form {
        padding-left: 50px;
    }

    .service-form label {
        font-size: 18px;
    }

    .service-form .text-input {
        font-size: 12px;
    }

    #make,
    #type,
    #pickup,
    #return,
    #period,
    #contract {
        width: 230px;
    }

    #start-date,
    #start-time,
    #end-date,
    #end-time {
        width: 150px;
    }

    #contract,
    #period {
        width: 230px;
    }

    #small-width {
        width: 175px;
    }

    .two-columns {
        width: 250px;
    }

    .text-input {
        height: 27px;
    }

    .service-form .rent-a-car {
        left: 380px;
    }

    .service-form .lease-a-car {
        width: 33%;
        position: absolute;
        top: 50px;
        left: 500px;
    }

    /* ------------------------------- */

    .service-form .rent-a-car {
        width: 40%;
        top: 90px;
        left: 345px;
    }

    .service-form .lease-a-car {
        width: 35%;
        top: 60px;
        left: 370px;
    }

    .signup-car {
        width: 50%;
        position: absolute;
        top: 70px;
        left: 330px;
    }

    .signup-input {
        width: 35%
    }

    /* Gellery section */
    #photos {
        width: 700px;
        column-count: 3;
    }

    .gallery-container {
        height: 1450px;
    }
}

@media screen and (max-width: 768px) {
    .center-wrapper {
        margin: 0 auto;
        width: 440px;
    }

    /* Header */
    header {
        height: 120px;
    }

    /* Logo */
    #logo {
        padding-top: 5px;
        font-size: 250%;
    }

    /* Navigation links */
    #menu {
        font-size: 90%;
        float: left;
        margin-left: 0;
        line-height: 20px;
    }

    /* Call To Action (cat) section */
    .cat {
        height: 900px;
    }

    .cat h2 {
        font-size: 150%;
        padding-top: 40px;
        margin-bottom: 0;
    }

    .cat img {
        margin-top: 5px;
        width: 350px;
    }

    .rent,
    .leasing {
        margin-top: 40px;
        width: 440px;
        height: 320px;
    }

    .rent h3 {
        padding: 0px;
    }

    .leasing h3 {
        padding: 0px;
    }

    .rent {
        margin-right: 0;
    }

    /* Main image section */
    .main-image {
        height: 310px;
        position: relative;
    }

    .main-image img {
        margin-top: 60px;
        border-radius: 0 40px 15px 0;
    }

    .main-image h3 {
        font-size: 140%;
        line-height: 30px;
        top: 100px;
    }

    /* Main button */
    .main-button {
        width: 150px;
        font-size: 12px;
        line-height: 24px;
        top: 175px;
        left: 50px;
    }

    /* Location */
    .location {
        height: 380px;
    }

    .location h2 {
        font-size: 110%;
    }

    .location h3 {
        font-size: 100%;
        margin-bottom: 10px;
    }

    .city img {
        width: 215px;
        height: 100px;
        object-fit: cover;
        margin-bottom: 10px;
    }

    .city:nth-child(3) img {
        margin-right: 0px;
    }

    /* How it works section */
    #how-to {
        height: 430px;
    }

    #how-to h2 {
        font-size: 110%;
    }

    #how-to h3 {
        font-size: 100%;
    }

    .action img {
        width: 215px;
        margin-bottom: 8px;
    }

    .action:nth-child(4) img {
        margin-right: 0;
    }

    .text-block {
        width: 167.5px;
    }

    .text-block h4 {
        font-size: 85%;
        margin-bottom: 10px;
    }

    .text-block p {
        display: none;
    }

    /* Why Carrent */
    .why-carrent {
        height: 700px;
    }

    .why-carrent h2 {
        font-size: 110%;
    }

    .review img {
        width: 226.67px;
    }

    .review img {
        margin-right: 0;
        width: 440px;
        height: 200px;
        object-fit: cover;
        object-position: 0 -215px;
        border-radius: 25px;
        margin-bottom: 10px;
    }

    /* Embedded map  */
    .find-us {
        margin: 30px auto 30px;
        height: 280px;
    }

    .find-us iframe {
        height: 200px;
    }

    .find-us h2 {
        font-size: 110%;
    }

    /* Footer */
    .openning-hours h2 {
        font-size: 110%;
    }

    .openning-hours>p {
        font-size: 13px;
    }


    .service-wrapper {
        margin: 0 auto;
        width: 440px;
    }

    .social-networks>li>a {
        margin: 0 10px;
        display: block;
    }

    .social-networks>li {
        margin: 70px 20px 50px;
    }

    /* Rent Page, Leasing Page, SignUp page */
    #service {
        height: 900px;
    }

    .service-form {
        padding: 100px 40px 40px;
        height: 500px;
    }

    .signup-form {
        padding: 170px 60px 40px;
        height: 350px;
    }

    #make,
    #type,
    #pickup,
    #return {
        width: 360px;
    }

    #start-date,
    #start-time,
    #end-date,
    #end-time {
        width: 170px;
    }

    #start-time,
    #end-time {
        margin-left: 9px;
    }

    #small-width {
        width: 178px;
    }

    .service-form .rent-a-car {
        width: 55%;
        top: 35px;
        left: 110px;
    }

    .service-form .lease-a-car {
        width: 35%;
        top: 30px;
        left: 150px;
    }

    .signup-form .signup-car {
        width: 55%;
        top: 15px;
        left: 110px;
    }

    .book-button {
        margin: 80px auto 0;
    }

    .signup-input {
        width: 320px;
    }

    /* Gellery section */
    #photos {
        width: 440px;
        column-count: 3;
    }

    .gallery-container {
        height: 1000px;
    }
}

@media screen and (max-width: 480px) {
    .center-wrapper {
        width: 300px
    }

    /* Logo */
    #logo {
        padding-top: 5px;
        font-size: 230%;
    }

    /* Navigation links */
    #menu {
        font-size: 75%;
    }

    #menu li {
        margin-right: 15px;
    }

    /* Call To Action (cat) section */
    .cat {
        height: 700px;
    }

    .cat h2 {
        font-size: 90%;
        padding-top: 40px;
    }

    .cat img {
        padding-top: 40px;
        width: 250px;
    }

    .rent,
    .leasing {
        margin-top: 40px;
        width: 300px;
        height: 250px;
    }

    /* Main image section */
    .main-image {
        height: 310px;
    }

    .main-image img {
        border-radius: 0 25px 10px 0;
    }

    .main-image h3 {
        font-size: 100%;
        line-height: 25px;
        top: 110px;
    }

    /* Main button */
    .main-button {
        top: 220px;
        left: 70px;
    }

    /* Location */
    .location {
        height: 700px;
    }

    .location h2 {
        text-align: center;
    }

    .location h3 {
        font-size: 100%;
    }

    .city img {
        width: 300px;
        height: 120px;
        margin-bottom: 10px;
        margin-right: 0;
    }

    .city:last-child h3 {
        margin-bottom: 50px;
    }

    /* How it works section */
    #how-to {
        height: 1020px;
        text-align: center;
    }

    #how-to h2 {
        font-size: 110%;
        margin-bottom: 5px;
    }

    .action img {
        width: 300px;
        margin-bottom: 15px;
        margin-right: 0;
    }

    .text-block {
        width: 300px;
    }

    .text-block h4 {
        font-size: 100%;
        margin-bottom: 30px;
    }

    /* Why Carrent */
    .why-carrent {
        height: 500px;
    }

    .why-carrent h2 {
        font-size: 110%;
    }

    .review img {
        margin-right: 0;
        width: 300px;
        height: 137px;
        object-position: 0 -146px;
        border-radius: 20px;
        margin-bottom: 10px;
    }

    /* Embedded map  */
    .find-us {
        margin: 30px auto 30px;
        height: 280px;
    }

    .find-us iframe {
        height: 200px;
    }

    .find-us h2 {
        font-size: 110%;
    }

    /* Footer */
    .openning-hours h2 {
        font-size: 100%;
    }

    .openning-hours>p {
        font-size: 13px;
    }

    .service-wrapper {
        margin: 0 auto;
        width: 300px;
    }

    .social-networks>li>a {
        margin: 0 10px;
        display: block;
    }

    .social-networks>li {
        margin: 40px 5px 50px;
    }

    .social-networks i {
        font-size: 250%;
    }

    /* Rent Page, Leasing Page, SignUp page */
    #service {
        height: 850px;
    }

    .service-wrapper h2 {
        font-size: 120%;
    }

    .service-form {
        padding: 115px 20px 25px;
        height: 500px;
        margin-top: 25px;
    }

    .signup-form {
        padding: 170px 20px 40px;
        height: 350px;
    }

    #make,
    #type,
    #pickup,
    #return {
        width: 260px;
    }

    #period,
    #contract {
        width: 260px;
    }


    #start-date,
    #start-time,
    #end-date,
    #end-time {
        width: 120px;
    }

    #start-time,
    #end-time {
        margin-left: 9px;
    }

    #small-width {
        width: 127px;
    }

    .service-form .rent-a-car {
        width: 75%;
        top: 50px;
        left: 45px;
    }

    .service-form .lease-a-car {
        width: 55%;
        top: 30px;
        left: 70px;
    }

    .signup-form .signup-car {
        width: 70%;
        top: 25px;
        left: 55px;
    }

    .signup-input {
        width: 250px;
    }

    .book-button {
        margin: 80px auto 0;
        border-radius: 1px;
    }

        /* Gellery section */
        #photos {
            width: 300px;
            column-count: 2;
        }
    
        .gallery-container {
            height: 1450px;
    }
    
}