@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&family=Warnes&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Ubuntu, sans-serif;
    font-weight: 400;
    color: #000;
    background-color: #F1F1F1;
}

header {
    width: 100%;
    height: 75px;
    background-color: #2B2B2B;


}

/* logo */
#logo {
    font-family: Warnes, sans-serif;
    text-transform: uppercase;
    color: #ED2222;
    float: left;
    font-size: 280%;
}

/* navigation links */

#menu {
    font-size: 110%;
    letter-spacing: 2px;
    float: right;
}

#logo {
    margin-left: 60px;
}

#menu,
#logo {
    line-height: 75px;
}

#menu li {
    float: left;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: #FFF;
}

#menu a:hover {
    border-bottom: 1px solid #FFF;
}

.active {
    border-bottom: 1px solid #FFF;
}

/* CAT section */
#cat-background {
    width: 100%;
    height: 650px;
    background: url(assets/img/background.png) center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: inset 0 5px 5px #212121, 0 -5px 50px #4d4d4d;
}

#cat-background div {
    color: white;
    text-transform: uppercase;
    text-align: center;
}

.cat {
    width: 60%;
    margin: 0 auto;
}

.cat h2 {
    font-size: 250%;
    padding-top: 60px;
    letter-spacing: 2px;
}

.rent,
.leasing {
    margin-top: 80px;
    background-color: rgb(0, 0, 0, .5);
    width: 350px;
    height: 350px;
    border-radius: 10px;
}

.rent {
    float: left;
}

.leasing {
    float: right;
}

.rent img {
    padding-top: 55px;
}

.leasing img {
    padding-top: 55px;
}

.rent h3 {
    padding: 35px;
    font-size: 220%;
    letter-spacing: 2px;
}

.leasing h3 {
    padding: 35px;
    font-size: 200%;
    letter-spacing: 2px;
}

/* Main image section */
.right-wrapper {
    width: 900px;
    margin: 0 auto;
}

#ethos-background {
    background-image: url(assets/img/firm_ethos.png);
    background-position: right 125px;
    background-repeat: no-repeat;
    height: 600px;
    position: relative;
}

.text-button {
    position: absolute;
    top: 250px;
    margin: 0 auto;
}

#ethos-background h3 {
    font-size: 250%;
    line-height: 50px;
}

/* button */
#ethos-background a {
    display: block;
    width: 242px;
    height: 56px;
    font-size: 18px;
    font-weight: 600;
    border: 2px solid #8B7F80;
    border-radius: 4px;
    margin: 25px auto;
    text-decoration: none;
    text-align: center;
    color: #000;
    background-color: #F1F1F199;
    line-height: 56px;
}

/* availability */
.location {
    height: 500px;
    width: 100%;
    margin: 0 auto;

}

.center-wrapper {
    margin: 0 auto;
    width: 900px;
    height: 300px;
    text-align-last: left;
}

.location h2 {
    text-transform: uppercase;
    margin-bottom: 50px;
}

.city img {
    display: block;
    width: 217.5px;
    border-radius: 4px;
    margin-right: 10px;
    margin-bottom: 15px;
}

.center-wrapper .city:last-child img, .action:last-child {
    margin-right: 0px;
}

.city {
    float: left;
}

/* How it works section */
.how_to {
    height: 300px;
    width: 100%;
    margin: 0 auto;
}

.action {
    float: left;
}

.action img {
    display: block;
    width: 217.5px;
    margin-right: 10px;
}

.center-wrapper .action:last-child img {
    margin-right: 0px;
}

.how_to h2,
h3 {
    text-transform: uppercase;
    margin-bottom: 50px;
}
.text-block {
    display: inline-block;
    width: 217.5px;
}

/* Why Carrent */
.why-carrent {
    width: 100%;
    height: 600px;
}

.why-carrent h2 {
    margin: 50px 0;
    padding-top: 150px;
}

.review img{
    float: left;
    margin-right: 10px;
    width: 293.3px;
}

.center-wrapper .review:last-child img {
    margin-right: 0px;
}